<header>
  <div class="container">
    <a routerLink="/" class="logo">
     Боже Име
    </a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login-page">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a>{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile-page">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            <i class="fa fa-shopping-cart"></i>
            <span>{{cartTotalPrice | currency}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
