<header>
  <div class="container">
    <a routerLink="/" class="logo">
     Soft-Uni Food
    </a>
    <nav>
      <ul>
        <div *ngIf="isAdmin" >
          <a routerLink="/admin">Orders</a>
          <a routerLink="/users-page">Users</a>
          <a routerLink="/foods-page">Foods</a>
          <a routerLink="/admin">Finance</a>
        </div>
        <li *ngIf="!isAuth">
          <a routerLink="/login-page">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a>{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile-page">Profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            <i class="fa fa-shopping-cart"></i>
            <span>{{cartTotalPrice | currency}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
