<header>
  <div class="container">
    <a routerLink="/" class="logo">
     Боже Име
    </a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Ilko</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            <i class="fa fa-shopping-cart"></i>
            <span>{{cartTotalPrice | currency}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
