<div class="content" *ngIf="orders">

  <app-title title="All orders" fontSize="1.6rem"></app-title>


    <table>

      <tr>
        <td>Name</td>
        <td>Date</td>
        <td>Price</td>
        <td>Number of foods</td>
        <td>Delivery address</td>

      </tr>
      <tr *ngFor="let order of orders" routerLink="/track/{{order.id}}" >
        <td>{{order.name}}</td>
        <td>{{order.createdAt | date }}</td>
        <td>{{order.totalPrice | currency}}</td>
        <td>{{order.items.length}} item/s</td>
        <td>
        <a href="https://www.google.com/maps/place/{{order.addressLatLng?.lat}},{{order.addressLatLng?.lng}}">Google Maps Address</a>
        </td>




      </tr>
    </table>
  </div>
