.order {
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 1rem;
    width: 80%;
    background: #ff4d4d;
    color: white;
    background-color: #e72929;


    opacity: 0.8;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px grey;
}
li {
    list-style: none;
}


.order:hover{
    opacity: 1;
    cursor: pointer;
  }
